:root{
  box-sizing: border-box;
}
*,
::before,
::after{
  box-sizing: inherit;
  background-color: #ccc;
  font-family: cursive;
}
body{
  text-align: center;
}
h1:hover{
border: 3px double red;
background-color:red;}
img{
  height: 100%;
  width: 100%;
}
.container {
  height: fit-content;
  margin: 0 auto;
  border: 1em solid blueviolet;
}